In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

#mouse_metadata.head()
# Combine the data into a single dataset
mouse_study = pd.merge(study_results, mouse_metadata, how = "left", left_on = None)
# Display the data table for preview
mouse_study.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [2]:
# Checking the number of mice.
mice_count = mouse_study["Mouse ID"].unique()
mice_count = len(mice_count)
mice_count

249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

duplicate_mice = mouse_study.loc[mouse_study.duplicated(subset=["Mouse ID", "Timepoint"]),"Mouse ID"].unique()
#duplicate_mice = duplicate_mice["Mouse ID"]
duplicate_mice

array(['g989'], dtype=object)

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
all_duplicate_mice = mouse_study.loc[mouse_study["Mouse ID"] == "g989", :]

all_duplicate_mice

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
107,g989,0,45.000000,0,Propriva,Female,21,26
137,g989,0,45.000000,0,Propriva,Female,21,26
329,g989,5,48.786801,0,Propriva,Female,21,26
360,g989,5,47.570392,0,Propriva,Female,21,26
620,g989,10,51.745156,0,Propriva,Female,21,26
681,g989,10,49.880528,0,Propriva,Female,21,26
815,g989,15,51.325852,1,Propriva,Female,21,26
869,g989,15,53.442020,0,Propriva,Female,21,26
950,g989,20,55.326122,1,Propriva,Female,21,26
1111,g989,20,54.657650,1,Propriva,Female,21,26
1195,g989,25,56.045564,1,Propriva,Female,21,26
1380,g989,30,59.082294,1,Propriva,Female,21,26
1592,g989,35,62.570880,2,Propriva,Female,21,26

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_mouse_study_df = mouse_study[mouse_study['Mouse ID'].isin(duplicate_mice)==False]
clean_mouse_study_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [6]:
# updating number of mice after removing duplicates
real_mice_count = clean_mouse_study_df["Mouse ID"].unique()
real_mice_count = len(real_mice_count)
real_mice_count

248

In [7]:
drug_regimen = clean_mouse_study_df.set_index(["Drug Regimen"])["Tumor Volume (mm3)"]
drug_regimen

Drug Regimen
Capomulin    45.000000
Ketapril     45.000000
Ketapril     45.000000
Ketapril     45.000000
Ketapril     45.000000
               ...
Capomulin    41.581521
Capomulin    31.023923
Ceftamin     61.433892
Placebo      58.634971
Stelasyn     72.555239
Name: Tumor Volume (mm3), Length: 1880, dtype: float64

In [20]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary DataFrame.


#mean_tumor_vol = clean_mouse_study_df["Tumor Volume (mm3)"].mean()
#median_tumor_vol = clean_mouse_study_df["Tumor Volume (mm3)"].median()
#variance_tumor_vol = clean_mouse_study_df["Tumor Volume (mm3)"].variance()
#std_tumor_vol = clean_mouse_study_df["Tumor Volume (mm3)"].std()
#sem_tumor_vol = clean_mouse_study_df["Tumor Volume (mm3)"].sem()
#mean_tumor_vol

drug_regimen_mean = clean_mouse_study_df["Tumor Volume (mm3)"].groupby(clean_mouse_study_df["Drug Regimen"]).mean()
drug_regimen_median = clean_mouse_study_df["Tumor Volume (mm3)"].groupby(clean_mouse_study_df["Drug Regimen"]).median()
drug_regimen_variance = clean_mouse_study_df["Tumor Volume (mm3)"].groupby(clean_mouse_study_df["Drug Regimen"]).var()
drug_regimen_standard_deviation = clean_mouse_study_df["Tumor Volume (mm3)"].groupby(clean_mouse_study_df["Drug Regimen"]).std()
drug_regimen_standard_error_mean = clean_mouse_study_df["Tumor Volume (mm3)"].groupby(clean_mouse_study_df["Drug Regimen"]).sem()

#dr_mean_median = pd.merge(drug_regimen_mean,drug_regimen_median,how="left",on="Drug Regimen")
#dr_mean_median_variance = pd.merge(dr_mean_median, drug_regimen_variance,how="left",on="Drug Regimen")
#dr_std_dev_err = pd.merge(drug_regimen_standard_deviation, drug_regimen_standard_error_mean,how="left",on="Drug Regimen")
#summary_statistics_df = pd.merge(dr_mean_median_variance,dr_std_dev_err,how="left",on="Drug Regimen")
#dr_complete_stat_df
summary_statistics_df = pd.DataFrame(
    {
        "Mean Tumor Volume":drug_regimen_mean,"Median Tumor Volume":drug_regimen_median,"Tumor Volume Variance":drug_regimen_variance,"Tumor Volume Std. Dev.":drug_regimen_standard_deviation,"Tumor Volume Std. Err.":drug_regimen_standard_error_mean
    }
)
#summary_statistics_df.index.name= None#["Drug Regimen"]
summary_statistics_df

,Mean Tumor Volume,Median Tumor Volume,Tumor Volume Variance,Tumor Volume Std. Dev.,Tumor Volume Std. Err.
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.320930,50.446266,43.852013,6.622085,0.544332
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [23]:
# Generate a summary statistics table of mean, median, variance, standard deviation, 
# and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line.
#clean_mouse_study.groupby(
    #['Drug Regimen','Tumor Volume (mm3)']).agg(
        #{
            
        #}
#)"Mean Tumor Volume":drug_regimen_mean,"Median Tumor Volume":drug_regimen_median,
#"Tumor Volume Variance":drug_regimen_variance,"Tumor Volume Std. Dev.":drug_regimen_standard_deviation,
#"Tumor Volume Std. Err.":drug_regimen_standard_error_mean
summary_statistics_df = clean_mouse_study_df.agg({'Tumor Volume (mm3)': ['mean','median','var','std','sem']})
summary_statistics_df

        Tumor Volume (mm3)
mean             50.435293
median           48.933454
var              79.462907
std               8.914197
sem               0.205591